:root {
    --colNum: 1;
    --page-width: calc(var(--colNum) * 200px + 400px);
}

.pageWidth {
    width: var(--page-width);
    max-width: var(--page-width) !important;
}

/*For the columns*/
.columnWrapper {
    display: grid;
    grid-template-columns: repeat(calc(var(--colNum) + 2), 200px);
    width: calc(var(--colNum) * 400px);
}

.grid-item {
    grid-column-start: auto;
    margin: 0px;
}

/*For the weights layout*/
.weightsContainer {
    overflow: visible;
}

.weightLine {
    stroke-dasharray: 9 1;
}

.weightLineTraining {
    /*stroke-dashoffset: 1;*/
    /*animation: 0.5s linear 0s infinite flowing;*/
    /*-webkit-animation: 0.5s linear 0s infinite flowing;*/
}

@keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

@-webkit-keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}
