:root {
    --colNum: 1;
    --page-width: calc(var(--colNum) * 200px + 400px);
}

.pageWidth {
    width: var(--page-width);
    max-width: var(--page-width) !important;
}

/*For the columns*/
.columnWrapper {
    display: grid;
    grid-template-columns: repeat(calc(var(--colNum) + 2), 200px);
    width: calc(var(--colNum) * 400px);
}

.grid-item {
    grid-column-start: auto;
    margin: 0px;
}

/*For the weights layout*/
.weightsContainer {
    overflow: visible;
}

.weightLine {
    stroke-dasharray: 9 1;
}

.weightLineTraining {
    /*stroke-dashoffset: 1;*/
    /*animation: 0.5s linear 0s infinite flowing;*/
    /*-webkit-animation: 0.5s linear 0s infinite flowing;*/
}

@keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

@-webkit-keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

.network-tooltip {
    position: absolute;
    top: 50px;
    left: 50px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 150px;
    font-size: 12px;
    z-index: 10;
}

.network-tooltip .title {
    font-size: 13px;
}

.network-tooltip .name {
    font-weight: bold;
}

#networkContainer {
    width: 800px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#networkContainer .range-field {
    margin-top: 0px;
    height: 13px;
    width: 300px;
    line-height: 0.0;
    margin-left: auto;
    margin-right: auto;
}