:root {
    --colNum: 1;
    --page-width: calc(var(--colNum) * 200px + 800px);
}

.pageWidth {
    width: var(--page-width);
    max-width: var(--page-width) !important;
}

/*For the columns*/
.columnWrapper {
    display: grid;
    grid-template-columns: repeat(calc(var(--colNum) + 2), 300px);
    width: calc(var(--colNum) * 200px);
}

.grid-item {
    grid-column-start: auto;
    margin: 0px;
    /*width: 300px;*/
}

/*For the weights layout*/
.weightsContainer {
    overflow: visible;
}

.weightLine {
    stroke-dasharray: 9 1;
}

.weightLineTraining {
    /*stroke-dashoffset: 1;*/
    /*animation: 0.5s linear 0s infinite flowing;*/
    /*-webkit-animation: 0.5s linear 0s infinite flowing;*/
}

@keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

@-webkit-keyframes flowing {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

.network-tooltip {
    position: absolute;
    top: 50px;
    left: 50px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
    opacity: .9;
    color: black;
    padding: 10px;
    width: 150px;
    font-size: 12px;
    z-index: 10;
}

.network-tooltip .title {
    font-size: 13px;
}

.network-tooltip .name {
    font-weight: bold;
}

#networkContainer {
    width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#networkContainer .range-field {
    margin-top: 0px;
    height: 13px;
    width: 300px;
    line-height: 0.0;
    margin-left: auto;
    margin-right: auto;
}

.indigo {
    background-color: #828282 !important;
}

i.right {
    margin-left: 0px;
}

.btn-menu {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    background-color: #828282;
}

.btn-small {
    background-color: #828282;
}

.row {
    margin-bottom: 0px !important;
}

.pointerText {
    padding-left: 5px;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

input {
    height: auto !important;
    line-height: normal !important;
}

select {
    height: auto !important;
    line-height: normal !important;
}

.col.s8 .col.s5, .col.s6, .col.s7 {
    padding: 0px;
}

.col.s2, .col.s8 .col.s4 {
    padding: 0px 10px 0px 0px;
}

body {
    color: #a4a4a4;
}

a {
    color: #000000;
}

#trainTestLoss {
    margin-bottom: 10px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    right: 20%
}